
Airth_whole_sale_Angular/node_modules/.bin/acorn.cmd

Airth_whole_sale_Angular/node_modules/.bin/ansi.html
Airth_whole_sale_Angular/node_modules/.*
node_modules/

/node_modules/
Airth_whole_sale_API/bin
Airth_whole_sale_API/obj


# Ignore any files in /bin and /obj Folders
**/bin/*
**/obj/*

*.suo
*.user
_ReSharper.*







Airth_whole_sale_Angular/node_modules/@webassemblyjs/wast-parser/esm/grammar.js

Airth_whole_sale_Angular/node_modules/
Airth_whole_sale_API/.vs/AirthwholesaleAPI/v17/.suo
Airth_whole_sale_API/.vs/AirthwholesaleAPI/FileContentIndex/f600c73c-4dec-4b26-b768-be87b98f3d25.vsidx
Airth_whole_sale_API/.vs/AirthwholesaleAPI/FileContentIndex/f600c73c-4dec-4b26-b768-be87b98f3d25.vsidx
Airth_whole_sale_API/.vs/AirthwholesaleAPI/FileContentIndex/f600c73c-4dec-4b26-b768-be87b98f3d25.vsidx
